<p>In addition to our fantastic facility, a variety of outdoor activities are available to you. All activities are included in your stay <em>free of charge</em>.</p>   
<table width="900">
  <tr>
    <td valign="top">
      <h2>Group Activities:</h2>
        <ul class="vspace">
          <li>Campfires (and S'mores!)
          </li>
          <li>Hunting gophers, pheasants, and white-tail deer*
          </li>
          <li>Scenic walking and jogging trails
          </li>
          <li>Croquet course
          </li>
          <li>Basketball
          </li>
          <li>Bird-watching
          </li>
          <li>Star-gazing
          </li>
          <li>Shooting range
          </li>
          <li>Petting Zoo
          </li>
        </ul>
    </td>
    <td valign="top">
      <h2>Individual Activities</h2>
        <ul class="vspace">
          <li>ATV riding and trails (limit 4)
          </li>
          <li>Bike-riding (limit 2)
          </li>
          <li>Bike-riding (limit 2)
          </li>
          <li>Bike-riding (limit 2)
          </li>
          <li>Bike-riding (limit 2)
          </li>
        </ul>
      </td>
      </tr>
      </table>


<p>Special arrangements can also be made to provide you the opportunity to participate in REAL farm work. Amaze and impress your friends as you recount the tale of how you helped pull a calf this spring!</p> 

<p>We are here for your relaxation and enjoyment. If there is an activity that you don't see here, please suggest it! We will go out of our way to accommodate your requests.</p>
<p>*For those who are interested in hunting during their stay, please visit <a href="http://gfp.sd.gov/hunting/" taret="blank">South Dakota Game, Fish and Parks</a> for detailed information about season dates as well as licensing.</p>

