<h2>Guest Activities:</h2>

  <% @activities.each do |z| %>
    <p><strong><%= z.name %></p>
      <% @reservations.each do |x| %>
          <% @guest_activity.each do |y| %>
            <% if y.reservation_id == x.id %>
              <% if y.name == z.name %>
                <p class="indent-20"><%= y.first_name %> <%= y.last_name %> (Age: <%= y.age %>)</p>
              <% end %>
            <% end %>
          <% end %>
      <% end %>
  <% end %>
