<h2>Enter the new activity information:</p>
<form action="/admin/activity_add_confirm">
  <p>Activity Name:<br>
  <input type="text" required class="longtextbox" name="name"></p>

  <p>Person Limit (number of people who can participate at one time):<br>
  <input type="text" required class="longtextbox" name="person_limit"></p>

  <input type="submit" value="Add Activity">
</form>
<br>
<br>