<h2>Success!</h2>

<h4>Your edits for <strong><%= params[:name] %></strong> have been saved!</h4>

  <table width="400px" valign="top" align="left">
    <tr>
      <td width="150px" align="right">
        <p>ID:<br> 
          Activity Name:<br>
          Person Limit:<br>
      </td> 
      <td width="3px">
      </td>
      <td width="240px">
        <p><strong>
          <%= params[:id] %><br> 
          <%= params[:name] %><br>
          <%= params[:person_limit] %><br>
          </strong></p>
      </td> 
    </tr>
  </table>