<!-- Should only work for guests where reservation status is requested or approved. -->

<h2>Select the guest you'd like to edit:</h2>
<br>

<% @guests.each do |guest| %>
<table width="400px">
  <tr>
    <td width="50px"><%= guest.id %></td>
    <td width="100px"><%= guest.first_name %> <%= guest.last_name %></td>
    <td><a href="/edit_guest_form?id=<%= guest.id %>">Edit</a></td>
  </tr>
</table>
<% end %>



