<h3>Current Guests:</h3>
  <% @results_as_objects.each do |x| %>
    <h4 class="indent"><%= x.id %>. <%= x.first_name %> <%= x.last_name %>
    </h4>
  <% end %>

<hr>

<form action="/delete_guest_confirm">
  <p>Enter the id of the guest to be deleted:
  </p>
  <p>Guest ID:<br>
    <input type="text" required name="id">
  </p>
  <input type="submit">
</form>
