<h2>Success!</h2>

  <p>You've added <strong><%= params[:name] %></strong> to your reservation! 
  </p>

  <p><a href="/add_guest">Add another guest</a> to your reservation now!</p>

    <p>If you have any questions, or need to edit your guest list, please contact us at: <a href="mailto:info@thelodge.com">info@thelodge.com</a>
    </p>