<!-- Should only work for guests where reservation status is requested or approved. -->

<h2>Select the guest you'd like to edit:</h2>

<% @guests.each do |guest| %>
 <p><%= guest.id %>.   <%= guest.first_name %> <%= guest.last_name %> <a href="/admin/edit_guest_form?id=<%= guest.id %>">Edit</a><br>
<% end %>