<form action="/admin/home">
  <p>Username:<br>
  <input type="text" style="font-size:14px" required class="longtextbox" name="username"></p>
  <p>Password:<br>
  <input type="text" style="font-size:14px" required class="longtextbox" name="Password"></p>
  <input type="submit" value="Log In">
  </form>