<form action="/login" method="POST">
  <label for="username" Username:
  input#username type="text" name="username"></label>
  <label for="password" Password:
  input#password type="password" name="password"></label>
  <input type="submit" value="Log In">
  </form>