<p>The Lodge<br>
  <a href="https://goo.gl/maps/OdBOM" target="blank">37174 155th St</a><br>
  Chelsea SD 57465<br>
  877.400.3105<br>
  <a href="mailto:info@thelodge.com">info@thelodge.com</a>
</p>
<br>

<div class="indent-20">
  <h2>Please fill out the form with your questions or comments:</h2>

  <form action='/contact_confirm'>
    <p>Name:<br>
      <input type="text" style="font-size:14px" required class="longtextbox" name="name"></p>

    <p>Contact email:<br>
      <input type="text" style="font-size:14px" required class="longtextbox" name="email"></p>

    <p>Phone (e.g., 6517775084):<br>
      <input type="text" style="font-size:14px" name="phone"></p>

    <p>Do you have an existing reservation?<br>
      <input type="radio" name="yes_no" value="yes">Yes<br>
      <input type="radio" name="yes_no" value="no">No</p>

    <p>Please share your question or comment with us:<br>
      <textarea rows="6" cols="50" style="font-size:14px" required name="comments"></textarea></p>
      <input type="submit">
</form></div>
    <br>
    <br>
    