<p><strong><em>We would love for you to be our guest.</em></strong> At Steward Farms Hospitality Lodge and Resort, we have taken great strides to create a world-class vacation experience with deluxe accommodations and unmatched hospitality. But don't just take our word for it – listen to what some of our guests have to say:</p> 
<br>
<blockquote>I want to thank you again for all that you did for me during my stay at The Lodge. It was an ideal vacation, and one that I will remember for some time. You went above and beyond in your hospitality! Your facility is extraordinary and the hunting was fantastic! Be sure to send me some brochures to pass around to my friends.</blockquote>
<p class="blue" align="right" margin-right="60px">–Steve, Grand Rapids, MN</p>

<blockquote>You asked for thoughts on what you could do to improve, and we honestly can't think of a thing. Your challenge will be to figure out how to top the experience – we're not sure it can be done! We felt like we had come home!</blockquote>
<p class="blue" align="right" margin="0px 20px 6px 0px">–Eric and Terri, Wichita, KS</p>

<blockquote>The whole experience was fantastic. Thank you for going out of your way to make sure that all my needs were met. And the food was amazing – I looked forward to every meal!</blockquote>
<p class="blue" align="right" margin="0px 20px 6px 0px">–Jane, Omaha, NE</p>

