<p>We would love for you to be our guest. At Steward Farms Hospitality Lodge and Resort, we have taken great strides to create a world-class vacation experience with deluxe accommodations and unmatched hospitality. But don't just take our word for it, here is what some of our guests have to say:</p> 

<blockquote>I want to thank you again for all that you did for me last week.  It was an ideal vacation, and one that I will remember for some time.  I must say that you went above and beyond in your hospitality. Your facility is extraordinary!  Be sure to send me some brochures to pass around to my friends.</blockquote>
<p class="blue" align="right" margin="0px 0px 6px 20px">–Steve Mero, Grand Rapids, MN</p>

<blockquote>You asked for thoughts on what you could do to improve, and we honestly can't think of a thing. Your challenge will be to figure out how to top the experience–we're not sure it can be done! We felt like we had come home!</blockquote>
<p class="blue" align="right" margin="0px 0px 6px 20px">–Eric and Terri LaMasters, Wichita, KS</p>

