<h2>Steward Farms Hospitality Lodge and Resort</h2>

<p>At Steward Farms Hospitality Lodge and Resort, you will experience <strong>a world-class vacation experience</strong> with deluxe accommodations and unmatched hospitality. When you book with us, you are the <strong>only guests</strong> we will host during your stay. That means the lodge, the dining area and lounge, as well as all the activities are exclusive to you.
</p> 

<p>We try to make every aspect of your experience unique and memorable.  To prove to you what a great choice we are, we are offering your first night <strong>FREE</strong>! So, what are you waiting for? Make your reservations today!
</p>

<p>The Lodge is a vacationer's dream come true. We have taken great strides to create the ultimate deluxe accommodations that are perfectly suited to your needs. We have a full bathroom and spacious bedroom available. The room has a comfortable bed, fresh linens, and a big window for viewing the sunrise and nature at its best. Also, high-speed internet access is available in your room, so you won't miss out on important business while you are away.
</p>

<p>We serve three hearty meals a day in our spacious dining area. No guest leaves our table hungry! The Steward family has been in the food and hospitality business for over 14 years, so we know how to treat our guests!
</p>

<p>Guests can kick back and relax after a great day of outdoor fun in our cozy lounge. We have comfortable furniture, a 40-inch HD color television, 140 Dish network channels, and a variety of movies for your viewing pleasure. 
</p>
