<!DOCTYPE html>

<html>
  <head>
    <title>The Lodge</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">
  </head>

  <body background-color="#FFFFFF"> 
      <div class="image-wrapper"> 
        <table>
        <a href="/admin"><img class="stretch" height="200px" src="/images/IMG_7881_cropped.jpg" alt="header image"/></a> 
        <h1>The Lodge</h1><br>
        <h1 style="margin: 2px 0px 0px 100px; font-size: 20px; font-style: italic"><br>Management Tool</h1> 
        </table>
      </div>
    
    <table width="1200px" padding="10px" border-right="1px" v-align="top">
      <tr>
        <td width="300px" valign="top">
          <h3 style="font-color: #2196F3">Manage Reservations
          </h3>
            <h4>
              <a href="/admin/add_reservation">Add a Reservation</a>
              <br>
            <a href="/admin/edit_reservation">Edit Reservation</a>
              <br>
            <a href="/admin/reservation_status">Update Status</a>
              <br>
            <a href="/admin/show_reservation">View All Reservations</a>
              <br>
            </h4>

          <h3 style="font-color: #2196F3">Manage Guests
          </h3>
            <h4>
              <a href="/admin/edit_guest">Edit Guest</a>
                <br>
              <a href="/admin/show_guest">View All Guests</a>
                <br>
              <a href="/admin/show_activities">View All Guests / Activities</a>
            </h4>

          <h3 style="font-color: #2196F3">Other</h3>
            <h4>
              <a href="/admin/calendar_show">Edit Calendar</a>
              <br>
              <a href="/admin/populate_join">Populate Join</a>
              </h4>
          </td>

          <td valign="top">
              <%= yield %>
          </td>

      </tr>
    </table>
