<!DOCTYPE html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>The Lodge</title>
    <link rel="stylesheet" href="/css/style-div.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>

<body class="Absolute-Center">
<div class="container">
  <div class="header">
    <h1 align="right"><a href="/">The Lodge</a></h1>
  </div>
    <div class="nav">
      <h1 align="right"><a href="/about">ABOUT</a><br />
      <a href="/activities">ACTIVITIES</a><br />
      <a href="/prices">PRICING</a><br />
      <a href="/guest_reviews">REVIEWS</a><br />
      <a href="/photo_gallery">PHOTOS</a><br />
      <a href="/calendar">CALENDAR</a><br />
      <a href="/new_reservation">RESERVATIONS</a><br />
      <a href="/add_guest">GUESTS</a><br />
      <a href="/contact">CONTACT</a></h1>
      </div>
        <div class="weather">
          <p class="indent-20">Current weather at <br>
            The Lodge:</p>
            <% ForecastIO.api_key = 'ed0a207e484c0315f2b0f75b58c38d62' %>
            <p class="indent-40">
              <strong><%= ForecastIO.forecast(45.143994,-98.472006).currently[:temperature].round %>˚F<br>
                <%= ForecastIO.forecast(45.143994,-98.472006).currently[:summary] %></strong>
            </p>
        </div>
    <div class="yield">
      <%= yield %>
    </div>
    <div class="footer"> 
      <div class="flex1">
        <a href="http://www.facebook.com" target="blank">
          <img src="/images/fb.jpg" alt="facebook icon" align="left" valign="center" width="22"> 
        </a>
        <a href="http://twitter.com/" target="blank">
          <img src="/images/twitter.jpg" alt="twitter icon" align="left" valign="center" width="22">
        </a>
        <a href="http://vimeo.com/" target="blank">
          <img src="/images/vimeo.jpg" alt="vimeo icon" align="left" valign="center" width="22"> 
        </a>
        
      </div>
      <div class="flex2"> 
        <footer align="right">©2001-2015 Steward Farms - The Lodge</footer>
      </div>
    </div>
</div>
</body>
</html>
