<h2>Success!</h2>

<p>Your reservation for <strong><%= params[:name] %></strong> has been submitted! After we review it, we will contact you at <strong><%= params[:email] %></strong> to confirm the details of your visit.</p>
<p>If you have any questions or need to edit your reservation, please contact us at: <a href="mailto:info@thelodge.com">info@thelodge.com</a></p>
<p><a href="/add_guest">Add a guest</a> to this reservation now!</p>