    <head>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="/css/jquery.fancybox.js" type="text/javascript" charset="utf-8"></script>
        <script src="/css/jquery.fancybox.pack.js" type="text/javascript" charset="utf-8"></script>
        
        <script>
        $(document).ready(function() {
        $(".fancybox").fancybox({
          }
        });
        </script>
    </head>
<body>
<a class="fancybox" title="Beautiful Prairie" href=""><img src="/images/IMG_7881.JPG" width="650px" /></a>

<a class="fancybox" href="/images/IMG_9245.JPG" title="Girl with Goats"><img src="/images/IMG_9245.JPG" width="650px" /></a>

<a class="fancybox" href="/images/IMG_9329.JPG" title="South Dakota Sunset"><img src="/images/IMG_9329.JPG" width="650px" /></a>

<!-- <a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQbENVMGhJX2FhY28/view?usp=sharing" title="Julia with Flowers in the Field"><img src="https://drive.google.com/file/d/0By172wy_kYnQbENVMGhJX2FhY28/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQUDUzZEhLc3owOGc/view?usp=sharing" title="Cows on a Blue Sky Day"><img src="https://drive.google.com/file/d/0By172wy_kYnQUDUzZEhLc3owOGc/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQV24yTUpBWkxTbTQ/view?usp=sharing" title="Kids Love Pony Rides!"><img src="https://drive.google.com/file/d/0By172wy_kYnQV24yTUpBWkxTbTQ/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQaF9kQ1J4VGZzM1k/view?usp=sharing" title="Ponies Love a Little Solitude"><img src="https://drive.google.com/file/d/0By172wy_kYnQaF9kQ1J4VGZzM1k/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQTURreDVfOTdCbEU/view?usp=sharing" title="Mountain Bike Riding on Dirt Roads"><img src="https://drive.google.com/file/d/0By172wy_kYnQTURreDVfOTdCbEU/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQcFd4TFRBRkFLTVE/view?usp=sharing" title="Heifers with Their Calves"><img src="https://drive.google.com/file/d/0By172wy_kYnQcFd4TFRBRkFLTVE/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQYTJDT0FJMnhjbTg/view?usp=sharing" title="Jessie Holding a Kitty"><img src="https://drive.google.com/file/d/0By172wy_kYnQYTJDT0FJMnhjbTg/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQR0lkLVpNRkI2d1U/view?usp=sharing" title="Fishing on a Summer Day"><img src="https://drive.google.com/file/d/0By172wy_kYnQR0lkLVpNRkI2d1U/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQSDZweThIby00T28/view?usp=sharing" title="Green Plants in Spring"><img src="https://drive.google.com/file/d/0By172wy_kYnQSDZweThIby00T28/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQTENfcGwyMG1PYzg/view?usp=sharing" title="Fence Line"><img src="https://drive.google.com/file/d/0By172wy_kYnQTENfcGwyMG1PYzg/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQVWd4V0NoUzMyWm8/view?usp=sharing" title="Jessie with Fainting Goat, Mirabelle"><img src="https://drive.google.com/file/d/0By172wy_kYnQVWd4V0NoUzMyWm8/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQVWd4V0NoUzMyWm8/view?usp=sharing" title="Jessie with Fainting Goat, Mirabelle"><img src="https://drive.google.com/file/d/0By172wy_kYnQVWd4V0NoUzMyWm8/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQclhQOVR1UnY3QUk/view?usp=sharing" title="At the Crossroads"><img src="https://drive.google.com/file/d/0By172wy_kYnQclhQOVR1UnY3QUk/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQUFdBaklkS3hCaTQ/view?usp=sharing" title="Fall Harvest"><img src="https://drive.google.com/file/d/0By172wy_kYnQUFdBaklkS3hCaTQ/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQSnN3NmphVDdQb1U/view?usp=sharing" title="The Lodge"><img src="https://drive.google.com/file/d/0By172wy_kYnQSnN3NmphVDdQb1U/view?usp=sharing" width="650px" /></a>

<a class="fancybox-thumb" rel="fancybox-thumb" href="https://drive.google.com/file/d/0By172wy_kYnQV2xTbFFUYkZoQ1E/view?usp=sharing" title="Winter on the Farm"><img src="https://drive.google.com/file/d/0By172wy_kYnQV2xTbFFUYkZoQ1E/view?usp=sharing" width="650px" /></a> -->

</body>