    <head>
    <link rel="stylesheet" href="/floatbox/floatbox.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="/floatbox/floatbox.js" type="text/javascript" charset="utf-8"></script>
    </head>
    
    
    
<body>
  <p>Click for Slideshow</p>
  <div class="floatbox" data-fb-options="doSlideshow:true group:demo2 titleAsCaption:true colorTheme:white">
    <a href="/images/IMG_7881.JPG" title="Beautiful Prairie"><img src="/images/IMG_7881.JPG" width="650px" /></a>
    <a href="/images/IMG_0562.JPG" title="Fishing on a Summer Day"></a>
    <a href="/images/IMG_2517.JPG" title="Cows on a Blue Sky Day"></a>
    <a href="/images/IMG_9245.JPG" title="Julia with Goats"></a>
    <a href="/images/IMG_7257.JPG" title="Kids Love Pony Rides!"></a>
    <a href="/images/IMG_7927.JPG" title="Ponies Love a Little Solitude">></a>
    <a href="/images/IMG_6735.JPG" title="Mountain Bike Riding on Dirt Roads"></a>
    <a href="/images/IMG_2039.JPG" title="Heifers with Their Calves"></a>
    <a href="/images/IMG_8328.JPG" title="Jessie Holding a Kitty"></a>
    <a href="/images/IMG_8391.JPG" title="Green Plants in Spring"></a>
    <a href="/images/IMG_9262.JPG" title="Fence Line"></a>
    <a href="/images/IMG_8364.JPG" title="The Year of the Goat: Jessie with Mirabelle"></a>
    <a href="/images/IMG_7868.JPG" title="At the Crossroads"></a>
    <a href="/images/IMG_2025.JPG" title="Julia with Flowers in the Field"></a>
    <a href="/images/IMG_8301.JPG" title="Fall Harvest"></a>
    <a href="/images/IMG_7944.JPG" title="The Lodge"></a>
    <a href="/images/IMG_6297.JPG" title="Horse in the Sunset"></a>
    <a href="/images/IMG_6321.JPG" title="Winter on the Farm"></a>
  </div>
</body>