<p>We offer a variety of outdoor activities:</p>   
<table width="650">
  <tr>
    <td valign="top">
      <h2>Group Activities:</h2>
        <ul>
          <li>Campfires (with s'mores!)
          </li>
          <li>Hunting: pheasants, and white-tail deer*
          </li>
          <li>Scenic walking / jogging trails
          </li>
          <li>Camping
          </li>
          <li>Basketball
          </li>
          <li>Bird-watching
          </li>
          <li>Star-gazing
          </li>
          <li>Petting Zoo
          </li>
        </ul>
    </td>
    <td valign="top">
      <h2>Individual Activities</h2>
        <ul>
          <li>ATV trail riding (limit 4)
          </li>
          <li>Bike riding (limit 2)
          </li>
          <li>Fishing (limit 4)
          </li>
          <li>Shooting range (limit 4)
          </li>
          <li>Kayaking (limit 4)
          </li>
          <li>Horseback riding (limit 4)
          </li>
          <li>Kiddie Pool (limit 6)
          </li>
        </ul>
      </td>
      </tr>
      </table>


<p>Special arrangements can also be made to participate in REAL farm work. Amaze and impress your friends as you recount the tale of how you helped pull a calf this spring!</p> 

<p>After a great day of outdoor fun, guests can also kick back and relax in our cozy lounge. We offer leather recliners, a 40-inch HD color television, 140 Dish network channels, and a variety of movies for your viewing pleasure! 
</p>

<p>We are committed to your relaxation and enjoyment. If there is an activity that you don't see here, please suggest it! We will go out of our way to accommodate your requests.</p>
<p>*Please visit <a href="http://gfp.sd.gov/hunting/" taret="blank">South Dakota Game, Fish and Parks</a> for detailed information about season dates as well as licenses and limits.</p>