<h2>Success!</h2>

  <p><strong><%= params[:first_name] %> <%= params[:last_name] %></strong> has been added to your reservation! 
  </p>

  <p><a href="/add_guest?reservation_id=<%= params[:reservation_id] %>"><strong>Add another guest</strong></a> to your reservation now!</p>

    <p>If you have any questions or need to edit your guest list, please contact us at: <a href="mailto:info@thelodge.com">info@thelodge.com</a>
    </p>