<h2>Thank You!</h2>

  <p><a href="/add_guest?reservation_id=<%= params[:reservation_id] %>"><strong>Add a guest</strong></a> to your reservation now!</p>

    <p>If you have any questions or need to edit your guest list, please contact us at: <a href="mailto:info@thelodge.com">info@thelodge.com</a>
    </p>