<h2>Check availability before scheduling your visit:</h2>

<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ld27870tkt6dmn85ksm6kibrrg%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FChicago" style=" border:solid 1px #777 " width="625" height="450" frameborder="0" scrolling="no"></iframe>
